<div class="container">
  <div class="mb-5 mt-5 mx-auto text-center ">Fully Responsive Angular 5 Application</div>
  <div class="row">
    <div class="main col-6 mx-auto">
      <div class="circle" [ngStyle]="{'left.%':currentPosition.currentX,'top.%':currentPosition.currentY}"></div>
    </div>
    <div class="control col">
      <div class="container ">
        <div class="row mt-5 mb-5">
          <div class="mt-5 col-12 d-flex justify-content-center">
            <button type="button" class=" btn btn-circle disabled button-hidden"></button>
            <button (click)="up()" type="button" class=" btn btn-circle btn-light"><i
              class="fa-lg far fa-arrow-alt-circle-up "></i></button>
            <button type="button" class=" btn btn-circle disabled button-hidden"></button>
          </div>


          <div class="col-12 d-flex justify-content-center">
            <button (click)="left()" type="button" class="btn btn-circle btn-light"><i
              class="fa-lg far fa-arrow-alt-circle-left "></i></button>
            <button (click)="down()" type="button" class="btn btn-circle btn-light"><i
              class="fa-lg far fa-arrow-alt-circle-down "></i></button>
            <button (click)="right()" type="button" class="btn btn-circle btn-light"><i
              class="fa-lg far fa-arrow-alt-circle-right "></i></button>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <button (click)="reset()" type="button" class="btn btn-outline-danger btn-lg">Reset</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-5 mt-5 text-center">Joseph Shainsky&copy; 054-6624559</div>
</div>

